### Connecting to Postgresql

In [15]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (1.4.42)

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [13]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.5-cp39-cp39-macosx_10_15_x86_64.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (2.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.2/2.2 MB 16.6 MB/s eta 0:00:0000:0100:01
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.5

In [22]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [20]:
!pip3 install ipython-sql

Collecting ipython-sql
  Using cached ipython_sql-0.4.1-py3-none-any.whl (21 kB)
Collecting sqlparse
  Using cached sqlparse-0.4.3-py3-none-any.whl (42 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in /Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages (from ipython-sql) (1.4.42)
Requirement already satisfied: ipython>=1.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython-sql) (8.6.0)
Requirement already satisfied: six in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython-sql) (0.2.0)
Collecting prettytable<1
  Using cached prettytable-0.7.2.zip (28 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: decorator in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (5.1.1)
Requirement already satisfied: prompt-toolkit<3.1.0,>3.0.1 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (3.0.31)
Requirement already satisfied: stack-data in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.6.0)
Requirement already satisfied: appnope in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.1.3)
Requirement already satisfied: pexpect>4.3 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.18.1)
Requirement already satisfied: pygments>=2.4.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (2.13.0)
Requirement already satisfied: backcall in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: traitlets>=5 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from ipython>=1.0->ipython-sql) (5.5.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from pexpect>4.3->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from prompt-toolkit<3.1.0,>3.0.1->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: pure-eval in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens>=2.1.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (2.1.0)
Requirement already satisfied: executing>=1.2.0 in /Users/da_learners_m1_18/Library/Python/3.10/lib/python/site-packages (from stack-data->ipython>=1.0->ipython-sql) (1.2.0)
Using legacy 'setup.py install' for prettytable, since package 'wheel' is not installed.
Installing collected packages: prettytable, sqlparse, ipython-sql
  Running setup.py install for prettytable ... done
Successfully installed ipython-sql-0.4.1 prettytable-0.7.2 sqlparse-0.4.3

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [23]:
from sqlalchemy import create_engine

In [24]:
%sql SELECT * FROM d37pct9o6m3u5r;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [25]:
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

In [26]:
%sql postgres://sbupha:Password123!@129.232.211.166:5432/postgres

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r'])
Can't load plugin: sqlalchemy.dialects:postgres
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r'])

In [27]:
%%sql 
CREATE TABLE Persons5 (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255) 
);

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.DuplicateTable) relation "persons5" already exists

[SQL: CREATE TABLE Persons5 (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [28]:
%%sql
Drop  TABLE if EXISTS LoginTable CASCADE;
CREATE TABLE LoginTable (
	id serial PRIMARY KEY,
	username VARCHAR ( 50 ) UNIQUE NOT NULL,
	pwd VARCHAR ( 50 ) NOT NULL
);
Drop TABLE if EXISTS User_Details CASCADE;

CREATE TABLE User_Details(
  id INT NOT NULL,
  FName VARCHAR(50) NOT NULL,
  LName VARCHAR(50) NOT NULL,
  Province VARCHAR(50) NOT NULL,
  City VARCHAR(50) NOT NULL,
  Postal_Code VARCHAR(50) NOT NULL,
  email VARCHAR ( 255 ) UNIQUE NOT NULL,
  Deposit int ,
  Balance int NOT NULL,
  FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);



Drop TABLE  IF EXISTS Game_Account CASCADE;

CREATE TABLE Game_Account (  
    id INT NOT NULL,
    Balance int not NULL,
    withdraw int ,
    FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [29]:
%%sql INSERT INTO game_account (id, balance, withdraw)
VALUES (
    1,
    67,
    76
  );

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.ForeignKeyViolation) insert or update on table "game_account" violates foreign key constraint "game_account_id_fkey"
DETAIL:  Key (id)=(1) is not present in table "logintable".

[SQL: INSERT INTO game_account (id, balance, withdraw)
VALUES (
    1,
    67,
    76
  );]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [39]:
%%sql
INSERT INTO user_details(id, FName, LName)
VALUES (1, 'Nontando','Masimula'),
       (2, 'Anna', 'Mofokeng'),
       (3, 'Edwin', 'Ngoveni'),
       (4, 'Wayne', 'Sithole'),
       (5, 'Nompumelelo', 'Phiri');

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.NotNullViolation) null value in column "province" of relation "user_details" violates not-null constraint
DETAIL:  Failing row contains (1, Nontando, Masimula, null, null, null, null, null, null).

[SQL: INSERT INTO user_details(id, FName, LName)
VALUES (1, 'Nontando','Masimula'),
       (2, 'Anna', 'Mofokeng'),
       (3, 'Edwin', 'Ngoveni'),
       (4, 'Wayne', 'Sithole'),
       (5, 'Nompumelelo', 'Phiri');]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [35]:
%%sql
SELECT * FROM logintable

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.

[]

In [45]:
%%sql 
INSERT INTO logintable (username, pwd)
VALUES ('Mpumi', 'password')
       ('Nontando', 'password')
       ('Anna', 'password')
       ('Wayne', 'password')

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "logintable_username_key"
DETAIL:  Key (username)=(Mpumi) already exists.

[SQL: INSERT INTO logintable (username, pwd)
VALUES ('Mpumi', 'password')]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [46]:
var1  = "game_account"
%sql  SELECT * FROM {var1}

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.

[]

In [47]:
balance= 90
%sql UPDATE game_account SET balance = {balance}

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.

[]

In [48]:
user = input("username: ")
password = input("password: ")

r = %sql SELECT * FROM LoginTable WHERE username = '{user}' AND pwd = '{password}'

if len(r) > 0:
    import random
    user = input("username: ")

    balance = int(input("Enter a wager amount: R"))
    comp_num = random.randint(1, 10)

    while balance > 0:
        user_input = int(input("Enter a number between 1 and 10: "))
        if user_input == comp_num:
            balance += 1
            
            print("Congratulations, You have won!!!")
        elif user_input == 11:
            %sql UPDATE game_account SET balance = {balance}
            
            break
            
        elif user_input != comp_num:
            balance -= 1
            print("Oops, You have lost, try again!!!")
            print("The number you have guessed was: ", user_input)
            print("The computer number was: ", comp_num)
            print("You have: R" + str(balance) + " funds remaining")
            
    if balance == 0:
        print("Sorry, You have insufficient funds, Bye!")

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
Oops, You have lost, try again!!!
The number you have guessed was:  7
The computer number was:  1
You have: R9 funds remaining
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.