### Connecting to Postgresql

In [1]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.8/site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
%reload_ext sql

In [4]:
!pip install python-sql

Requirement already satisfied: python-sql in /opt/anaconda3/lib/python3.8/site-packages (1.4.0)

In [5]:
from sqlalchemy import create_engine

In [6]:
%sql SELECT * FROM d37pct9o6m3u5r;

UsageError: Line magic function `%sql` not found.

In [7]:
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

UsageError: Line magic function `%sql` not found.

In [8]:
%sql postgres://sbupha:Password123!@129.232.211.166:5432/postgres

UsageError: Line magic function `%sql` not found.

In [13]:
%%sql
Drop  TABLE if EXISTS LoginTable CASCADE;
CREATE TABLE LoginTable (
	id serial PRIMARY KEY,
	username VARCHAR ( 50 ) UNIQUE NOT NULL,
	pwd VARCHAR ( 50 ) NOT NULL
);

Drop TABLE if EXISTS User_Details CASCADE;

CREATE TABLE User_Details(
  id INT NOT NULL,
  first_name VARCHAR(50) NOT NULL,
  last_name VARCHAR(50) NOT NULL,
  province VARCHAR(50) NOT NULL,
  city VARCHAR(50) NOT NULL,
  postal_code VARCHAR(50) NOT NULL,
  email VARCHAR ( 255 ) UNIQUE NOT NULL,
  Deposit int,
  Balance int NOT NULL,
  FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);


Drop TABLE  IF EXISTS Game_Account CASCADE;

CREATE TABLE Game_Account (  
    id INT NOT NULL,
    Balance int not NULL,
    withdraw int ,
    FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);

UsageError: Cell magic `%%sql` not found.

In [22]:
%%sql INSERT INTO game_account (id, balance, withdraw)
VALUES (
    1,
    50,
    100
  );

UsageError: Cell magic `%%sql` not found.

In [24]:
%%sql
INSERT INTO User_Details(id, first_name, last_name)
VALUES 
    (4923, 'Nontando', 'Masimula'),
    (4924, 'Anna', 'Mofokeng'),
    (4925, 'Mpumi', 'Phiri'),
    (4926, 'Wayne', 'Sithole'),
    (4927, 'Edwin', 'Ngoveni');

UsageError: Cell magic `%%sql` not found.

In [ ]:
%%sql
INSERT INTO LoginTable(username)
VALUES ('Mpumi', 'password')
       ('Nontando', 'password')
       ('Anna', 'password')
       ('Wayne', 'password')
       ('Edwin', 'password')

In [25]:
%%sql
SELECT * FROM User_Details

UsageError: Cell magic `%%sql` not found.

In [24]:
%%sql
SELECT * FROM LoginTable

UsageError: Cell magic `%%sql` not found.

In [25]:
import random

user = input("username: ")
password = input("password: ")

r = %sql SELECT * FROM LoginTable WHERE username = '{user}' AND pwd = '{password}'

if len(r) > 0:
    
    balance = int(input("Enter a wager amount: R"))
    comp_num = random.randint(1, 10)

    while balance > 0:
        user_input = int(input("Enter a number between 1 and 10: "))
        
        #The user must enter 0 or 11 if she/he wants to exit the game
        if user_input == 0 or user_input == 11:
            print('GoodBye!')
            break
        
        #If the number guessed by the user is equal to the computer number. Increment the balance of the user by R1
        if user_input == comp_num:
            balance += 1
            print("Congratulations, You have won!!!")
            print("You have: R" + str(balance) + " remaining")
            print("Enter 0 or 11 to exit the game, or continue playing by guessing the number!!!")
            
         #If the number guessed by the user is not equal to the computer number, decrement the balance of the user by R1.   
        elif user_input != comp_num:
            balance -= 1
            print("Oops, You have lost, try again!!!")
            print("The number you have guessed was: ", user_input)
            print("The computer number was: ", comp_num)
            print("You have: R" + str(balance) + " funds remaining")
            
     #If the balance of the player is equal to zero, terminate the game.     
    if balance == 0:
        print("Sorry, You have insufficient funds, Bye!")
        %sql UPDATE game_account SET balance = {balance}

UsageError: Line magic function `%sql` not found.

In [1]:
%sql UPDATE game_account SET balance = {balance}

UsageError: Line magic function `%sql` not found.

In [2]:
var1  = "game_account"
%sql  SELECT * FROM {var1}

UsageError: Line magic function `%sql` not found.