### Connecting to Postgresql

In [18]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/anaconda3/lib/python3.8/site-packages (1.4.35)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.8/site-packages (from sqlalchemy) (1.0.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.8/site-packages (2.9.1)
Note: you may need to restart the kernel to use updated packages.

In [24]:
%reload_ext sql

In [12]:
!pip install python-sql

Collecting python-sql
  Downloading python_sql-1.4.0-py3-none-any.whl (40 kB)
     |████████████████████████████████| 40 kB 9.0 MB/s  eta 0:00:01
Installing collected packages: python-sql
Successfully installed python-sql-1.4.0

In [25]:
from sqlalchemy import create_engine

In [26]:
%sql SELECT * FROM d37pct9o6m3u5r;

Environment variable $DATABASE_URL not set, and no connect string given.
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys([])

In [27]:
%sql postgresql://gnsiobsurufrtp:0d57af453839e69ec694c32f5af9f06d938697b08d2c4e279403aa9eeed31661@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r

In [31]:
%sql postgres://sbupha:Password123!@129.232.211.166:5432/postgres

Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r'])
Can't load plugin: sqlalchemy.dialects:postgres
Connection info needed in SQLAlchemy format, example:
               postgresql://username:password@hostname/dbname
               or an existing connection: dict_keys(['postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r'])

In [28]:
%%sql 
CREATE TABLE Persons5 (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255) 
);

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
(psycopg2.errors.DuplicateTable) relation "persons5" already exists

[SQL: CREATE TABLE Persons5 (
    PersonID int,
    LastName varchar(255),
    FirstName varchar(255),
    Address varchar(255),
    City varchar(255)
);]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [46]:
%%sql
Drop  TABLE if EXISTS LoginTable CASCADE;
CREATE TABLE LoginTable (
	id serial PRIMARY KEY,
	username VARCHAR ( 50 ) UNIQUE NOT NULL,
	pwd VARCHAR ( 50 ) NOT NULL
);
Drop TABLE if EXISTS User_Details CASCADE;

CREATE TABLE User_Details(
  id INT NOT NULL,
  FName VARCHAR(50) NOT NULL,
  LName VARCHAR(50) NOT NULL,
  Province VARCHAR(50) NOT NULL,
  City VARCHAR(50) NOT NULL,
  Postal_Code VARCHAR(50) NOT NULL,
  email VARCHAR ( 255 ) UNIQUE NOT NULL,
  Deposit int ,
  Balance int NOT NULL,
  FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);



Drop TABLE  IF EXISTS Game_Account CASCADE;

CREATE TABLE Game_Account (  
    id INT NOT NULL,
    Balance int not NULL,
    withdraw int ,
    FOREIGN KEY (id)
      REFERENCES LoginTable (id)
);

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [62]:
%%sql INSERT INTO game_account (id, balance, withdraw)
VALUES (
    1,
    67,
    76
  );

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[]

In [8]:
%%sql
INSERT INTO Persons5 (PersonID, LastName, FirstName, Address, City)
VALUES (4923, 'Erichsen', 'Skagen', '653 Pursor Road', 'Norway');

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[]

In [30]:
%%sql
SELECT * FROM login_

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
0 rows affected.

[]

In [74]:
var1  = "game_account"
%sql  SELECT * FROM {var1}

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[(1, 4, 76)]

In [67]:
balance= 90
%sql UPDATE game_account SET balance = {balance}

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.

[]

In [ ]:
import random
user = input("username: ")

balance = int(input("Enter a wager amount: R"))
comp_num = random.randint(1, 10)

while balance > 0:
    user_input = int(input("Enter a number between 1 and 10: "))
    if user_input == comp_num:
        balance += 1
        print("Congratulations, You have won!!!")
        
    elif user_input != comp_num:
        balance -= 1
        print("Oops, You have lost, try again!!!")
        print("The number you have guessed was: ", user_input)
        print("The computer number was: ", comp_num)
        print("You have: R" + str(balance) + " funds remaining")
        
if balance == 0:
    print("Sorry, You have insufficient funds, Bye!")

In [73]:
user = input("username: ")
password = input("password: ")

r = %sql SELECT * FROM LoginTable WHERE username = '{user}' AND pwd = '{password}'

if len(r) > 0:
    import random
    user = input("username: ")

    balance = int(input("Enter a wager amount: R"))
    comp_num = random.randint(1, 10)

    while balance > 0:
        user_input = int(input("Enter a number between 1 and 10: "))
        if user_input == comp_num:
            balance += 1
            
            print("Congratulations, You have won!!!")
        elif user_input == 11:
            %sql UPDATE game_account SET balance = {balance}
            break
            
        elif user_input != comp_num:
            balance -= 1
            print("Oops, You have lost, try again!!!")
            print("The number you have guessed was: ", user_input)
            print("The computer number was: ", comp_num)
            print("You have: R" + str(balance) + " funds remaining")
            
    if balance == 0:
        print("Sorry, You have insufficient funds, Bye!")

 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.
Oops, You have lost, try again!!!
The number you have guessed was:  5
The computer number was:  2
You have: R4 funds remaining
 * postgresql://gnsiobsurufrtp:***@ec2-18-234-17-166.compute-1.amazonaws.com:5432/d37pct9o6m3u5r
1 rows affected.